#footer-wrapper {
    font-size: 0.4em;
    text-align: left;
}

#frontpage-wrapper, #video-headline, .wrapper-links {
    text-align: center;
}

#logo {
    width: 10%;
}

#main-content {
    min-height: calc(100vh - 70px);
}

footer {
    height: 10px;
}